/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

body {
	background-color: #F9F1F1;
	font-family: 'Vollkorn', serif;
}
img,
.office-map {
	max-width: 100%;
}
.wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.container {
	max-width: 1110px;
	width: 100%;
	margin: 0 auto;
}
* {
	color: #F9F1F1;
	text-transform: capitalize;
}
/*header*/
.header1-bg {
	background-image: url(../images/narikala.jpg);
	width: 100%;
	height: 764px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.header-div {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding-top: 40px;
}
.nav-ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
}
li {
	margin-right: 54px;
	font-weight: 700;
	font-size: 27px;
}
.burger-icon {
	font-size: 30px;
	display: none;
}
.icon {
	font-size: 30px;
	margin-right: 35px;
}
.title {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	text-align: center;
	margin-top: 200px;
}
.header-h1 {
	font-size: 80px;
	font-weight: 900;
	text-transform: uppercase;
}
.header-h4 {
	font-size: 30px;
	font-weight: 500;
	margin-top: 10px;
}
/*burger menu*/
.sidenav {
	height: 100%;
    max-width: 250px;
    width: 100%;
    position: fixed;
    z-index: 100000;
    top: 0;
    right: 0;
    background-color: #2C3D55;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    padding-top: 60px;
    display: none;
}
.sidenav a {
  padding: 14px 8px 14px 32px;
  font-size: 35px;
  color: #F9F1F1;
  display: block;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.burger-menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.bar1, .bar2, .bar3 {
  width: 30px;
  height: 4px;
  background-color: #F9F1F1;
  margin: 4px 0;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.search-container:hover > .searchInput {
    max-width: 240px;
    width: 100%;
    padding: 10px;
    background-color: #F9F1F1;
    border-radius: 40px;
}
.search-container:hover > .searchButton {
  background: #F9F1F1;
  border:0px;
}
.searchInput {
    border:none;
    background: none;
    outline:none;
    padding:0px;
    color: #2C3D55;
    font-size: 16px;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    width: 0px;
    position: relative;
}
.searchButton {
    color: #F9F1F1;
    max-width: 40px;
    width: 100%;
    height: 40px;
    border-radius: 50%;
    background: #2C3D55;
    display: inline-block;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    position: absolute;
}
.search-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
    background: #2C3D55 ;
    height: 40px;
    border-radius: 40px;
    max-width: 230px;
    width: 100%;
    margin: 0 auto;
}
/*section 1*/
.tbilisi,
.old-town {
	position: relative;
	margin-top: 45px;
}
.image-text {
	position: absolute;
	bottom: 50%;
	right: 50%;
	-webkit-transform: translate(50%,50%);
	    -ms-transform: translate(50%,50%);
	        transform: translate(50%,50%);
}
.explore-h4 {
	font-size: 24px;
	font-weight: 600;
	text-transform: uppercase;
}
.explore-h2 {
	font-size: 75px;
	font-weight: 800;
}
.blog {
	display: none;
	position: relative;
}
/*section 2*/
.section-h2 {
	color: #2C3D55;
	font-size: 56px;
	font-weight: 400;
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
}
.box {
	position: relative;
}
.box:nth-child(3),
.box:nth-child(4) {
	margin-top: 24px;
}
.destinations-h3 {
	position: absolute;
	bottom: 37px;
	left: 15px;
	font-size: 35px;
	font-weight: 600;
	text-decoration: underline;
	-webkit-transition: -webkit-transform .2s;
	transition: -webkit-transform .2s;
	-o-transition: transform .2s;
	transition: transform .2s;
	transition: transform .2s, -webkit-transform .2s;
}
.destinations-box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin-left: 24px;
}
.destinations-wraper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
}

/*section 3*/
.box-wraper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
}
.articles-p {
	max-width: 348px;
	width: 100%;
	color: #2C3D55;
	font-size: 18px; 
	font-weight:400;
}
.articles-h4 {
	color: #F2A541;
	font-size: 20px; 
	font-weight:600;
	font-style: italic;
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: center;
	max-width: 348px;
    width: 100%;
}
.articles-h3 {
	color: #2C3D55;
	font-size: 25px; 
	font-weight:800;
	max-width: 348px;
	width: 100%;
	margin-bottom: 10px;
	text-align: center;
}
.button {
  background-color: #2C3D55;
  border: none;
  color: #F9F1F1;
  padding: 15px 100px;
  opacity: 1;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  text-align: center;
  max-width: 348px;
  width: 100%;
  font-size: 22px;
  margin-top: 10px;
}
/*section 4*/
.section4-bg {
	background-color: #2C3D55;
	margin-top: 77px;
}
.footer-navigation {
	padding-top: 60px;
}
.section-4 {
	max-width: 1092px;
	width: 100%;
}
.nav-ul,
.f-navigation,
.footer-navigation {
	max-width: 1092px;
	width: 100%;
}
.footer-div {
	width: 100%;
}
.footer-h2 {
	font-size: 40px ;
	font-weight: 600;
	margin-top: 50px;
}
.span {
	color: #F2A541 !important; 
}
.footer-p {
	max-width: 534px;
	width: 100%;
	font-size: 20px;
	margin-top: 30px;
}
.subscribe-button {
  background-color: #F5F6F4;
  border: none;
  color: #2E4057;
  padding: 15px 100px;
  text-align: center;
  max-width: 348px;
  width: 100%;
  font-size: 22px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 35px;
  opacity: 1;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.icons-p {
	font-size: 24px;
	font-weight: 800;
	margin-bottom: 15px;
}
.footer-div {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.section-4 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
}
.footer-div {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
}
.newsletter-div {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
} 
.map {
	margin-top: 40px;
	padding-bottom: 20px;
	max-width: 600px;
	width: 100%;
}
/*activities page*/
.activities-h3 {
	position: absolute;
	bottom: 30px;
	left: 15px;
	font-size: 35px;
	font-weight: 600;
	text-decoration: underline;
	-webkit-transition: -webkit-transform .2s;
	transition: -webkit-transform .2s;
	-o-transition: transform .2s;
	transition: transform .2s;
	transition: transform .2s, -webkit-transform .2s;
}
.activities-box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin-left: 20px;
}
.activities-box-1 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin-right: 20px;
}
.activities-wraper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
}
.header2-bg {
	background-image: url(../images/act.imgs/bg-2.png);
	width: 100%;
	height: 764px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.category-box {
	position: relative;
}
.category-box:nth-child(3),
.category-box:nth-child(4) {
	margin-top: 24px;
}
.category-box-1 {
	margin-top: 24px;
	position: relative;
}
.tour-text {
	position: absolute;
	bottom: 50%;
	right: 50%;
	-webkit-transform: translate(50%,50%);
	    -ms-transform: translate(50%,50%);
	        transform: translate(50%,50%);
	max-width: 902px;
	width: 100%;
}
.tour-h4 {
	font-size: 24px;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.tour-h2 {
	font-weight: 800;
	font-size: 34px;
	margin-bottom: 30px;
}
.tour-p {
	font-size: 30px;
}
/*form*/
.form-box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.form-right {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin-left: 16px;
}
.textarea-wraper {
	resize: none;
	height: 400px;
	max-width: 720px;
	width: 100%;
	background-color: #F9F1F1;
	border: 2px solid #E8E8E8;
}
.input-box {
	height: 60px;
	max-width: 352px;
	width: 100%;
	background-color: #F9F1F1;
	border: 2px solid #F8F8F8;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
	color: #2C3D55;
	font-size: 15px;
}
input::-moz-placeholder, textarea::-moz-placeholder {
	color: #2C3D55;
	font-size: 15px;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
	color: #2C3D55;
	font-size: 15px;
}
input::-ms-input-placeholder, textarea::-ms-input-placeholder {
	color: #2C3D55;
	font-size: 15px;
}
input::placeholder,
textarea::placeholder {
	color: #2C3D55;
	font-size: 15px;
}
.form-button {
	max-width: 352px;
	width: 100%;
	height: 60px;
	background-color: #2C3D55;
	color: #F9F1F1;
	font-size: 14px;
	border: 2px solid #2C3D55;
	margin-top: 15px;
}
.fa-paper-plane {
	font-size: 14px;
}
.contact-box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
}
.form-popup {
	display: none;
	position: fixed;
	background-color: #F2A541 ; 
    bottom: 100px;
    right: 50px;
    padding: 50px;
}
.menu-icons {
	padding-bottom: 20px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	font-size: 12px;
}
/*blog page*/
.header4-bg {
    background-image: url(../images/bg-4.png);
	width: 100%;
	height: 764px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.blog-body {
  background: #2C3D55;
}
.leftcolumn {
  float: left;
  width: 66.6%;
}
.rightcolumn {
  float: left;
  width: 33.3%;
  padding-left: 20px;
}
.card {
  margin-top: 30px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.blog-h2 {
	font-size: 45px;
	font-weight: 700;
    margin-bottom: 15px;
}
.blog-h5 {
	font-size: 25px;
	font-weight: 500;
	margin-bottom: 15px;
}
.blog-p {
	max-width: 720px;
	width: 100%;
	font-size: 20px;
	font-weight: 300;
	margin-top: 15px;
}
.right-p {
	max-width: 348px;
	width: 100%;
	font-size: 20px;
	font-weight: 300;
	margin-top: 15px;
	margin-bottom: 15px;
}
.card-div {
	margin-bottom: 15px;
	position: relative;
	display: inline-block;
}
.card-p {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	font-size: 55px;
	font-weight: 800;
}
/*destinations*/
.header3-bg {
	background-image: url(../images/dests/bg-3.jpg);
	width: 100%;
	height: 764px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.region {
	margin-top: 24px;
	margin-left: 36px;
}
.racha {
	margin-top: 24px;
}
.kakheti {
	display: inline-block;
}
/*contact page*/
.contact-body {
	background: #2C3D55;
}
select {
    height: 60px;
    max-width: 352px;
    width: 100%;
    background-color: #F9F1F1;
    border: 2px solid #F8F8F8;
}
input,
option,
select {
	color: #2C3D55;
	background-color: #F9F1F1;
	font-size: 15px;
}
.contact-div {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.find-us {
	margin-right: 30px;
}
.contact-form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
}
.address-div {
	margin-left: 16px;
	margin-bottom: 10px;
}
.adress p {
	font-size: 20px;
    margin-bottom: 10px;
}
.adress-p {
	color: #F2A541;
    font-size: 25px !important; 
}
.contact-button {
  background-color: #F9F1F1 ;
  border: none;
  color: #2C3D55;
  padding: 15px 110px;
  opacity: 1;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  text-align: center;
  max-width: 352px;
  width: 100%;
  font-size: 18px;
  margin-top: 10px;
}
.contact-icons {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-top: 10px;
}
.c-icon {
	font-size: 20px;
	margin-left: 15px;
}
.send-icon {
	color: #2C3D55;
}
.form-wraper {
	margin-bottom: 10px;
}
.contact-map {
	margin-top: 30px;
}
/*hoover effects*/
.button:hover {opacity: 0.6}
.subscribe-button:hover {opacity: 0.6}